.headn{
    border: 2px solid rgb(161, 12, 32);
    height:50px;
    margin: 5px 0px;
}
.des{
    font-size: 125%;
    color: rgb(23, 159, 204);
    margin-top:10px ;
}
.by{
    font-weight: bold;
    font-size: 150%;
    color:black;
    margin-left: 5px;
}
.more{
    display: none;
    border: 2px solid green;
    margin-top: 3px;
    font-size: 140%;
}